APP_AUTHOR=Антон
AUTHOR_PASS=qwerty123
DEADLINE_DATE=02.02.2025
APP_TITLE=Сервис бронирования переговорных комнат
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=secret
FIRST_SUPERUSER_EMAIL=example@example.com
FIRST_SUPERUSER_PASSWORD=secretpass